.v-margin { padding: 0.5em 0; margin-bottom: 0.3em; }
.no-margin { margin: 0; }
.padding-top { padding-top: 0.5em; }
.margin-bottom { margin-bottom: 15px; }
.margin-bottom-lg { margin-bottom: 0.8em; }
